{% extends 'base.html.twig' %}

{% block title %}Seleccionar docente
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Seleccionar docente</h1>
				<form action="{{ path('app_editar_profesor') }}" method="POST">
						<select class="form-control" id="nombreDelProfesor" name="profesorSeleccionado">
							<option selected>-- Selecciona el nombre del docente --</option>
							{% for profesor in profesores %}
								<option>{{ profesor }}</option>
							{% endfor %}
						</select>
					<button type="submit" class="btn btn-primary">Editar docente</button>
				</form>
			</div>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_administrador') }}" class="btn btn-primary">Volver al menú administrador</a>
            </div>
        </div>
    </footer>
{% endblock %}
