@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightblue;
}

.bordered {
    border: 1px solid black;
}

.calendario {
    width: 80%;
    height: 100px;
    margin: 20px;
    padding: 30px;
}

th {
    text-align: center;
}

.calendario td {
    width: 5px;
    text-align: center;
    padding: 2px;
}

table {
    border-radius: 10px;
    background-color: lightcyan;
}

.datepicker td, .datepicker th {
    width: 40px;
    height: 40px;
}

#fechasTable .fecha{
    width: 80px;
}

#fechasTable .tipoClase {
    width: 80px;
}

#fechasTable .titulo {
    width: 300px;
}

td.fecha-clase {
    border-radius: 10px;
    background-color: lightgreen;
}

//Formato inputs formulario docente
#gruposTable .diasTeoria {
    width: 200px;
}

#gruposTable .diasPractica {
    width: 200px;
}

#gruposTable .asignatura {
    width: 200px;
}

#gruposTable .horario {
    width: 100px;
}

#gruposTable .grupo {
    width: 100px;
}

//Personalizar boton de multiselect
.boton-multiselect {
    background-color: white;
    color: black;
}

// Tabla de asignaturas
#asignaturasTable .numLecciones {
    width: 75px;
}

input.nombreAsig {
    width: 400px;
}

// Tabla de sesiones, todos los input de clase titulolecc
input.tituloLecc {
    width: 200px;
}