{% extends 'base.html.twig' %}

{% block title %}
    Menú principal
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col-md-12 text-center mb-menu">
        <h1 class="display-4">Menú Principal</h1>
    </div>
    <div class="container-fluid h-90 d-flex flex-column justify-content-center">
        <div class="row mb-5">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a href={{ path('app_menu_alumno') }} class="btn btn-light btn-menu border-dark">
                    <div class="d-flex flex-column align-items-center btn-icon">
                        <img src="/img/alumno.png" alt="Crear">
                        Menú alumno
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a class="btn btn-light btn-menu border-dark menu-profesor">
                    <div class="d-flex flex-column align-items-center btn-icon">
                        <img src="/img/docente.png" alt="Crear">
                        Menú docente
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a class="btn btn-light btn-menu border-dark menu-admin">
                    <div class="d-flex flex-column align-items-center btn-icon">
                        <img src="/img/admin.png" alt="Crear">
                        Menú administrador
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
