{% extends 'base.html.twig' %}

{% block title %}Hello PostAsignaturaController!{% endblock %}

{% block body %}
<div>
    <h1>¡Asignaturas agregadas con exito! ✅</h1>
    <ul>
        <li><a href="http://localhost:8000/formulario/asignatura">Volver a la página principal</a></li>
        <li><a href="http://localhost:8000/formulario/asignatura">Crear mas asignaturas</a></li>
        <li><a href="http://localhost:8000/formulario/docente">Crear docente</a></li>
    </ul>
</div>
{% endblock %}
