{% extends 'base.html.twig' %}

{% block title %}Hello PostAsignaturaController!{% endblock %}

{% block body %}
<div>
    <h1>¡Asignatura/s agregadas con exito! ✅</h1>
    <ul>
        <li><a href="{{ path('app_formulario_asignatura') }}">Crear más asignaturas</a></li>
        <li><a href="{{ path('app_formulario_profesor') }}">Crear docente</a></li>
        <li><a href="{{ path('app_menu_profesor') }}">Volver al menú</a></li>
    </ul>
</div>
{% endblock %}
