{% extends 'base.html.twig' %}

{% block title %}Hello PostAsignaturaController!{% endblock %}

{% block body %}
<div>
    <h1>¡Previsualización de calendario completada! ✅</h1>
    <ul>
        <li><a href="{{ path('app_formulario_calendario') }}">Ver previsualización del calendario</a></li>
    </ul>
</div>
{% endblock %}
