{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div>
    <h1>¡Asignaturas agregadas con exito! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/app/src/Controller/PostController.php'|file_link(0) }}">src/Controller/PostController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/templates/post/index.html.twig'|file_link(0) }}">templates/post/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
