{% extends 'base.html.twig' %}

{% block title %}Hello PostProfesorController!{% endblock %}

{% block body %}
<div>
    <h1>¡Docente agregado con exito! ✅</h1>
    <ul>
        <li><a href="{{ path('app_formulario_profesor') }}">Crear mas docentes</a></li>
        <li><a href="{{ path('app_formulario_centro') }}">Crear un calendario</a></li>
        <li><a href="{{ path('app_menu_profesor') }}">Volver al menú</a></li>
    </ul>
</div>
{% endblock %}