{% extends 'base.html.twig' %}

{% block title %}Crear localidad
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de localidad</h1>
				<form action="{{ path('app_crear_localidad_admin_procesar') }}" method="post">
					<div class="form-group">
						<label for="nombreDeLocalidad">Nombre del localidad: </label>
                        <input type="text" class="form-control" name="nombreDeLocalidad">
					</div>
					<button type="submit" class="btn btn-primary crear-localidad">Crear localidad</button>
				</form>
			</div>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_localidades_admin') }}" class="btn btn-primary">Volver al menú</a>
            </div>
        </div>
    </footer>
{% endblock %}
