{% extends 'base.html.twig' %}

{% block title %}
    Lista de asignaturas
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="font-weight-bold">Lista de asignaturas</h1>
                <ul>
                    {% if asignaturas is empty %}
                        <li>No hay asignaturas registradas</li>
                    {% else %}
                        {% for asignatura in asignaturas %}
                            <li>{{ asignatura }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_profesor') }}" class="btn btn-primary">Volver al menú docente</a>
            </div>
        </div>
    </footer>
{% endblock %}
