{% extends 'base.html.twig' %}

{% block title %}Formulario calendario
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de calendario</h1>
				<form>
					<div class="form-group">
						<label for="nombreDelCentro">Nombre del centro</label>
						<input type="text" class="form-control" id="nombreDelCentro" placeholder="ETSII Informatica">
						<label for="nombreDeProvincia">Provincia</label>
						<input type="text" class="form-control" id="nombreDeProvincia" placeholder="Málaga">
					</div>
					<label for="nombreDatepicker">Previsualiza y edita tu calendario:</label>
					<input type="text" class="form-control datepicker" id="datepickerInput" placeholder="Selecciona una fecha">
					<table id="fechasTable" class="table">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Titulo</th>
								<th>Asignatura</th>
								<th>Grupo</th>
								<th>Modalidad</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<button type="button" class="btn btn-primary crear-calendario">Crear calendario</button>
				</form>
			</div>
		</div>
	</div>
	<div id="grupos" data-grupos="{{ grupos }}" style="display: none;"></div>
	<div id="asignaturas" data-asignaturas="{{ asignaturas|json_encode|url_encode }}" style="display: none;"></div>
{% endblock %}
