{% extends 'base.html.twig' %}

{% block title %}Formulario calendario
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de centro</h1>
				<form>
					<div class="form-group">
						<label for="nombreDeProvincia">Provincia</label>
						<select class="form-control" id="nombreDeProvincia">
							<option value=""></option>
							{% for provincia in provincias %}
								<option>{{ provincia }}</option>
							{% endfor %}
						</select>

						<label for="nombreDelCentro">Nombre del centro</label>
						<select class="form-control" id="nombreDelCentro">
							<option value=""></option>
							{% for nombreCentro in nombreCentros %}
								<option>{{ nombreCentro }}</option>
							{% endfor %}
						</select>
					</div>
					<button type="button" class="btn btn-primary previsualizar-calendario">Previsualizar calendario</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
