{% extends 'base.html.twig' %}

{% block title %}Formulario docente
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de docente</h1>
				<form>
					<div class="form-group">
						<label for="labelnombreProf">Nombre</label>
                        <input type="text" class="form-control" id="nombreProf">

                        <label for="labelpapellidoProf">Primer apellido</label>
                        <input type="text" class="form-control" id="papellidoProf">

                        <label for="labelsapellidoProf">Segundo apellido</label>
                        <input type="text" class="form-control" id="sapellidoProf">

						<label for="labeldespacho">Despacho</label>
						<input type="text" class="form-control" id="despacho" placeholder="aula de despacho">

                        <label for="labelCorreo">Correo</label>
						<input type="text" class="form-control" id="correo">
					</div>
					<label for="labelnombreGrupos">En caso de que necesite crear una asignatura: </label>
					<a href="{{ path('app_formulario_asignatura') }}">Crear asignatura</a>
					<label for="labelnombreGrupos">Rellene los grupos a los que da clase:</label>
					<table id="gruposTable" class="table">
						<thead>
							<tr>
								<th>Grupo</th>
								<th>Asignatura</th>
								<th>Horario</th>
								<th>Dias teoria</th>
								<th>Dias practica</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
                    <button type="button" class="btn btn-primary aniadir-fila-prof">Añadir fila</button>
					<button type="button" class="btn btn-primary crear-profesor">Crear docente</button>
				</form>
			</div>
		</div>
	</div>
	<div id="asignaturas" data-asignaturas="{{ asignaturas|json_encode|url_encode }}" style="display: none;"></div>
{% endblock %}