{% extends 'base.html.twig' %}

{% block title %}Formulario titulación
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de titulacion/es</h1>
				<form>
					<table id="titulacionesTable" class="table">
						<thead>
							<tr>
								<th>Nombre</th>
                                <th>Abreviatura</th>
								<th>Centro</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
                    <button type="button" class="btn btn-primary aniadir-fila-titulacion">Añadir titulación</button>
					<button type="button" class="btn btn-primary crear-titulacion">Crear titulacion/es</button>
				</form>
			</div>
		</div>
	</div>

	<div id="centros" data-centros="{{ centros }}" style="display: none;"></div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_administrador') }}" class="btn btn-primary">Volver al menú administrador</a>
            </div>
        </div>
    </footer>
{% endblock %}